.preview {
  &__video {
    &__video {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}

.mp4-view {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  width: 960px;
  height: 540px;
}

.img-view {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  width: 300px;
  height: 400px;
}

.img-view img {
  width: 100%;
  height: 100%;
}