.mp4-view {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

  position: relative;
  top: -25px;

  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 800px;
  height: auto;

  // width: 960px;
  // height: 540px;

  & > div {
    width: 100% !important;
    max-width: 100vw !important;
    height: auto !important;
  }

  video {
    border-radius: 10px;

    // aspect-ratio: 640 / 360;
    width: 100%;
    max-width: 100vw;
    height: auto;
  }
}

.img-view {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  width: 300px;
  height: 400px;
}

.img-view img {
  width: 100%;
  height: 100%;
}
