.mp4-view {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

  position: relative;
  top: -25px;

  display: flex;
  justify-content: center;

  width: 100%;

  video {
    border-radius: 5px;
  }
}

.img-view {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  width: 300px;
  height: 400px;
}

.img-view img {
  width: 100%;
  height: 100%;
}
