@import '../../assets/styles/style.scss';

.marquee {
  position: relative;
  overflow: hidden;
  min-height: 160px;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  color: #ccc;
  opacity: 0.7;
  @include rwd(500) {
    min-height: 200px;
    font-size: 70px;
  }
  @include rwd(800) {
    min-height: 220px;
    font-size: 75px;
  }
  @include rwd(1000) {
    min-height: 220px;
    font-size: 85px;
  }
  @include rwd(1400) {
    min-height: 250px;
    font-size: 105px;
  }
  @include rwd(1700) {
    min-height: 260px;
    font-size: 125px;
  }

  &__item {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    --offset: 25vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));

    &__inner {
      width: fit-content;
      display: flex;
      position: relative;
      transform: translate3d(var(--move-initial), 0, 0);
      animation: marquee 5s linear infinite;
      transition: opacity 0.1s;
      transition-duration: 0.4s;
      animation-play-state: running;
      opacity: 1;
      span {
        padding: 0 2vw;

        @include rwd(800) {
          padding: 0 3.5vw;
        }
        @include rwd(1000) {
          padding: 0 4vw;
        }
        @include rwd(1400) {
          padding: 0 5vw;
        }
        @include rwd(1700) {
          padding: 0 6vw;
        }
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
