.navbar__container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__name {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  &__links {
    display: flex;
    gap: 40px;
    list-style-type: none;

    &__link__item {
      text-decoration: none;
      color: black;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: rgb(61, 57, 57);
      }
    }
  }
}
