@import "../../../assets/styles/style.scss";

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include phone {
    padding: 20px 40px;
  }

  &__logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  &__category {
    font-size: 16px;
    color: rgb(52, 49, 49);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 5px;

    &-label {
      font-weight: bold;
    }

    &-read {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__links {
    display: flex;
    gap: 40px;
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: rgb(61, 57, 57);
    }
  }
}
