.blog {
  &__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    max-width: 1200px;

  }

  &__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    overflow: hidden;
  }
  &__subtitle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    overflow: hidden;
  }

 
}

