.blog {
  &__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px ;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  &__subtitle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
}
