@import "../../assets/styles/style.scss";

html {
  font-size: 86.5%;

  -webkit-text-size-adjust: 100%;
  line-height: 1.5;

  @include tablet {
    font-size: 93.75%;
  }

  @include sDesktop {
    font-size: 93.75%;
  }

  @include lDesktop {
    font-size: 100%;
  }
}
