.circleText {
  width: 50%;
  cursor: pointer;
  position: absolute;
  left: 0%;
  bottom: 80px;
  cursor: pointer;
  background: transparent;
  font-size: 24px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.7);
  outline: none;
  border: none;
}