@import '../../../assets/styles/style.scss';

.circleText {
  position: absolute;
  right: 0%;
  top: 10%;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
  outline: none;
  border: none;
  z-index: 10;

  @include phone {
    font-size: 20px;
  }
  @include tablet {
    right: -10%;
  }
  &__right {
    left: 0%;
    right: unset;

    @include phone {
      font-size: 20px;
    }

    @include tablet {
      left: -10%;
    }
  }
}
