@import '../../../assets/styles/style.scss';

body.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}
.nav {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  @include rwd(940) {
    width: 100px;
  }
  @include rwd(1200) {
    width: 120px;
  }

  &__hamburger {
    margin-top: 100px;
    display: inline-block;
    font-size: 3em;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &:focus-visible {
      outline: 2px solid #0066cc;
      outline-offset: 2px;
    }

    @include rwd(600) {
      margin-top: 120px;
    }
    @include sDesktop {
      font-size: 3.5em;
    }
    &__span {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.container {
  flex-grow: 1;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url('../../../assets/images/forest-small.jpg') 0 0 / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

  &__header {
    color: #efefef;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin: 0;
    font-weight: bold;

    @include phone {
      font-size: 3em;
    }
  }
  &__name {
    display: none;
    margin: 0;
    color: #ddd;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: bold;
    @include rwd(640) {
      display: initial;
    }
  }

  &__hello {
    position: absolute;
    bottom: 70px;
    right: -30px;
    transform: rotate(-90deg);
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
   
    @include sDesktop {
      font-size: 50px;
    }

    span:last-child {
      margin-left: 2px;
      color: #00000000;
      -webkit-text-stroke: 2px rgb(213, 213, 213);
    }
  }
}

.socials {
  position: absolute;
  top: 10px;
  right: 0;
  color: #efefef;
  display: flex;
  gap: 12px;
  padding: 0 12px 0 0;
  display: flex;
  flex-direction: column;

  &__link__item {
    list-style-type: none;
    font-size: 30px;

    @include sDesktop {
      font-size: 35px;
    }
  }
}

.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;

  &__informations {
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

    @include rwd(940) {
      width: 60%;
    }
  }

  &__links {
    &__list {
      padding-left: 10px;
      margin: 0;

      @include rwd(360) {
        padding-left: 15px;
      }
      @include rwd(500) {
        padding-left: 20px;
      }

      @include rwd(900) {
        padding-left: 25px;
      }
      &__item {
        list-style-type: none;
        color: rgb(196, 196, 196);
        padding: 5px 0;

        &:hover a .destination {
          background-size: 100% 100%;
        }
        &:hover a .describe {
          color: #a66f2c;
          transition: color 0.7s;
        }
        a {
          list-style-type: none;
          color: rgb(172, 172, 172);

          .number,
          .destination,
          .describe {
            display: inline-block;
            margin: 3px;
            cursor: pointer;
          }
          .number {
            font-size: 0.8em;
            display: none;
          }
          .destination {
            font-size: 1.8em;
            background: linear-gradient(#5b5b5b, #5b5b5b) left no-repeat,
              #afafaf;
            background-size: 0% 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background-size 0.7s;
          }
          .describe {
            font-size: 1em;
          }

          @include rwd(360) {
            .number {
              font-size: 1em;
            }
            .destination {
              font-size: 2em;
            }
            .describe {
              font-size: 1.1em;
            }
          }
          @include rwd(500) {
            .number {
              font-size: 1.2em;
              display: inline-block;
            }
            .destination {
              font-size: 2.6em;
            }
            .describe {
              font-size: 1.3em;
            }
          }
          @include rwd(940) {
            .destination {
              font-size: 3em;
            }
            .describe {
              font-size: 1.2em;
            }
          }
          @include rwd(1200) {
            .destination {
              font-size: 3.3em;
            }
            .describe {
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }

  &__images {
    display: none;
    width: 0%;
    height: 100%;
    position: relative;
    background: url('../../../assets/images/surfer-small.jpg') no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    overflow: hidden;

    @include rwd(940) {
      display: block;
      width: 40%;
    }

    &__canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      canvas {
        width: 100%;
        height: 100%;
      }
    }

    &__list {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      list-style: none;
      margin: 0;
    }

    &__item {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__social-icons {
    width: 100%;
    margin-top: 40px;
    font-size: 2em;
    position: relative;
  }

  &__scroller {
    position: relative;

    .text {
      position: absolute;
      bottom: -15%;
      right: 0%;
      transform: rotate(-90deg);
      transform-origin: bottom right;
      font-size: 26px;
      letter-spacing: 3px;
      font-weight: bold;

      @include rwd(360) {
        font-size: 30px;
        letter-spacing: 4px;
        bottom: -2%;
      }
      @include rwd(500) {
        font-size: 42px;
        letter-spacing: 4px;
        bottom: 25%;
      }
      @include rwd(940) {
        font-size: 50px;
        bottom: 40%;
      }

      span:first-child {
        color: rgb(196, 196, 196);
      }
      span:last-child {
        color: #00000000;
        -webkit-text-stroke: 1px rgb(196, 196, 196);
      }
    }
  }
}

.icon-dark {
  color: #4f4f4f;

  @include phone {
    font-size: 35px;
  }
}
