@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,700&display=swap");
@import "./assets/fontello/css/fontello.css";
@import "./assets/styles/style.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  height: fit-content;
}


.divider {
  @extend %divider-base;
  height: 1px;

  &--thick {
    @extend %divider-base;
    height: 2px;
  }

  &--dark {
    @extend %divider-base;
    height: 1px;
    background-color: #333;
  }

  &--thick-dark {
    @extend %divider-base;
    height: 2px;
    background-color: #333;
  }
}
