@import "./normalize";
@import "./breakPoints";
@import "./mixins";
@import "./extends";

// // @import './colors';
.bold {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: inherit;
}
