@import '../../assets/styles/style.scss';

.work {
  @extend %section__container;

  &__header {
    @extend %section__header;
  }

  .projects__images__image {
    width: 100% !important;
  }

  &__description,
  &__list {
    font-size: clamp(14px, 2vw, 16px);

    color: #3f3f3f;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;

    @include tablet {
      gap: 10px;
      margin-top: 20px;
      padding-left: 30px;
    }
  }
}
