@import '../../assets/styles/style.scss';

.about {
  @extend %section__container;

  &__header {
    @extend %section__header;
    text-align: right;
  }
  &__description {
    margin-top: 50px;
    color: #cecece;
    font-weight: bold;
    font-size: 35px;
    @include phone {
      margin-top: 70px;
    }
    @include tablet {
      margin-top: 70px;
      font-size: 40px;

    }
    @include sDesktop {
      font-size: 45px;
      margin-top: 100px;
    }
    @include lDesktop {
      font-size: 60px;
      margin-top: 100px;
    }
    & p:nth-child(1) {
      font-size: 1.1em;
    }
    & p:not(p:nth-child(1)) {
      font-size: 0.6em;
    }
  }
  h1 {
    color: white;
  }
}

.light-dark {
  color: #4f4f4f;
}

.underline {
  // text-decoration: underline;
  border-bottom: 3px solid #4f4f4f;
}
