@import '../../assets/styles/style.scss';

.about {
  @extend %section__container;

  &__header {
    @extend %section__header;
    text-align: right;
  }
  &__description {
    color: #cecece;
    font-weight: bold;
    
    font-size: clamp(18px, 2vw, 28px);

/*    font-size: 20px;

    @include phone {
      font-size: 22px;
    }
    @include tablet {
      font-size: 24px;
    }
    @include sDesktop {
      font-size: 26px;
    }
    @include lDesktop {
      font-size: 28px;
    }

    */
    & p:nth-child(1) {
      font-size: 1.6em;
    }

    p {
      margin: 0.8em 0;
    }
   

    a {
      text-decoration: none;
    }
  }
}

.light-dark {
  color: #4f4f4f;
}

.underline {
  cursor: pointer;
  border-bottom: 3px solid #4f4f4f;
}
